<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Khas untuk pelajar-pelajar pengajian Master dan PhD di <abbr title="Universiti Pendidikan Sultan Idris">UPSI</abbr></h2>
        <p class="lead">Kini anda tidak perlu bersusah payah dan membuang masa membetulkan format tesis/disertasi. Format IPS adalah acuan tesis/disertasi yang akan membantu anda!</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
