<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a style="margin-left: 20px; font-weight: 700" href="#top"  onclick = $("#menu-close").click(); >FORMAT IPS</a>
    </li>
    <li>
      <a href="#about" onclick = $("#menu-close").click(); ><i class="fa fa-question-circle-o fa-fw" aria-hidden="true"></i><span>Apa</span></a>
    </li>
    <li>
      <a href="#services" onclick = $("#menu-close").click(); ><i class="fa fa-question-circle-o fa-fw" aria-hidden="true"></i><span>Mengapa</span></a>
    </li>
    <li>
      <a href="#gallery" onclick = $("#menu-close").click(); ><i class="fa fa-picture-o fa-fw" aria-hidden="true"></i><span>Galeri</span></a>
    </li>
    <li>
      <a href="#download" onclick = $("#menu-close").click(); ><i class="fa fa-download fa-fw" aria-hidden="true"></i><span>Muat Turun</span></a>
    </li>
    <li>
      <a href="#footer" onclick = $("#menu-close").click(); ><i class="fa fa-medkit fa-fw" aria-hidden="true"></i><span>Bantuan</span></a>
    </li>
  </ul>
</nav>
