---
layout: compress
---
<!DOCTYPE html>
<html lang="ms">

{% include head.html %}
<body id="page-top">

{% include navigation.html %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>Format IPS</h1>
							<p class="h2">Temui acuan untuk perisian Microsoft Word&reg; yang membantu anda menulis tesis dan disertasi dengan lebih mudah dan cepat.</p>
                            <br>
							<a href="#about" class="btn btn-outline btn-xl page-scroll">Ketahui Lebih Lanjut</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="device-container">
						<div class="device-mockup" data-device="imac" data-orientation="" data-color="">
							<div class="device">
								<div class="screen">
									<a href="{{ 'format-ips/img/screen-mockups.png' | absolute_url }}" data-toggle="lightbox"><img src="{{ 'format-ips/img/screen-mockups.png' | absolute_url }}" class="img-responsive" /></a>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </header>
	
	<section id="about" class="bg-primary text-center">
	  <div class="container">
		<div class="row">
		  <div class="col-lg-12 text-center">
			<h2>KHAS UNTUK PELAJAR-PELAJAR<br>PENGAJIAN MASTER DAN PHD DI <abbr title="Universiti Pendidikan Sultan Idris">UPSI</abbr></h2>
			<p class="lead">Kini anda tidak perlu bersusah payah dan membuang masa membetulkan format tesis &amp; disertasi.<br>Format IPS adalah acuan tesis &amp; disertasi yang akan membantu anda!</p>
		  </div>
		</div>
		<!-- /.row -->
	  </div>
	  <!-- /.container -->
	</section>

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>KELEBIHAN</h2>
                        <p class="text-muted">Tak kenal maka tak cinta</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="fa fa-clock-o text-primary"></i>
                                    <h3>Mudah &amp; Cepat</h3>
                                    <p class="text-muted">Butang-butang yang dikuasakan oleh <abbr title="Visual Basic for Application">VBA</abbr> menjadikan ianya senang &amp; dan menjimatkan masa!</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="fa fa-magic text-primary"></i>
                                    <h3>Automatik</h3>
                                    <p class="text-muted">Memanfaatkan fungsi automatik seperti <em>Auto Table of Contents</em> supaya penulisan akan lebih fleksibel!</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="fa fa-usb text-primary"></i>
                                    <h3>Mudah Alih</h3>
                                    <p class="text-muted">Boleh dimasukkan ke dalam pendrive dan digunakan pada komputer yang mempunyai perisian Microsoft Word&reg;!</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="fa fa-money text-primary"></i>
                                    <h3>Percuma</h3>
                                    <p class="text-muted">Tidak perlu dibayar dan tiada bayaran tersembunyi. 100% percuma!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="download" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 section-heading">
                    <h2>DAPATKANNYA SEKARANG</h2>
                    <p>Muat turun untuk bermula</p>
                    <div>
                        <a href="https://github.com/BroSpek/format-ips/releases/latest" class="btn btn-download btn-lg">Tekan Sini</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
	
    <section id="gallery" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>GALERI</h2>
                        <p class="text-muted">Gambar mencerminkan ribuan perkataan</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
									<a href="{{ 'format-ips/img/button.png' | absolute_url }}" data-toggle="lightbox" data-gallery="format-ips"><img src="{{ 'format-ips/img/button.png' | absolute_url }}" class="img-responsive" /></a>
                                    <p class="text-muted">Butang-butang yang mudah dicapai.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
									<a href="{{ 'format-ips/img/automatik.png' | absolute_url }}" data-toggle="lightbox" data-gallery="format-ips"><img src="{{ 'format-ips/img/automatik.png' | absolute_url }}" class="img-responsive" /></a>
                                    <p class="text-muted">Memanfaatkan fungsi automatik.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
									<a href="{{ 'format-ips/img/ulasan.png' | absolute_url }}" data-toggle="lightbox" data-gallery="format-ips"><img src="{{ 'format-ips/img/ulasan.png' | absolute_url }}" class="img-responsive" /></a>
                                    <p class="text-muted">Ulasan sebagai bantuan tambahan.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
									<!--<a href="format-ips/img/button.png" data-toggle="lightbox" data-gallery="format-ips"><img src="format-ips/img/button.png" class="img-responsive" /></a>
                                    <p class="text-muted">Butang-butang yang mudah dicapai.</p>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<!--
    <section class="cta">
        <div class="cta-content">
            <div class="container">
                <h2>Stop waiting.<br>Start building.</h2>
                <a href="#contact" class="btn btn-outline btn-xl page-scroll">Let's Get Started!</a>
            </div>
        </div>
        <div class="overlay"></div>
    </section>
	-->
    <section id="contact" class="contact bg-primary">
        <div class="container">
            <h2>Bantuan?</h2>
			<p>Temui saya di Angah ICT.<br/>22 Jalan U1/1<br/>Taman Universiti<br/>35900 Tanjong Malim.</p>
            <ul style="font-size: 20pt" class="list-inline list-social">
                <li>
                    <i class="fa fa-whatsapp"> {{ site.telephone }} ({{ site.owner }})</i>
                </li>
            </ul>
        </div>
    </section>

{% include footer.html %}
{% include scripts.html %}
</body>

</html>
